  <div style="display: flex; flex-direction: column;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenavOpened=!sidenavOpened">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="mat-title">Astronomical Catalog (Angular With Material)</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="sidenavOpened" #sidenav (click)="sidenav.toggle()">
      <mat-nav-list>
        <mat-list-item routerLink="/hd">HD Catalog</mat-list-item>
        <mat-list-item routerLink="/yale">Yale Bright Star Catalog</mat-list-item>
        <mat-list-item routerLink="/ngc2000">NGC2000 Catalog</mat-list-item>
        <mat-list-item routerLink="/gliese">Gliese Catalog</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 88vh;">
          <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  This was written by Jason
  </div>