
.container {
    max-width: 100;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.5;
}

.flex-grid {
    display: flex;
}

.header {
    flex: 6;
    text-align: center;
}

.footer {
    flex: 6
}

.navBar {
    flex: 1;
}

.contentArea {
    flex: 5;
    margin-left: 10px;
    margin-right: 25px;
}


