<div style="width: 100%; border-width: 1; border-style: solid;">
    <h3 style="padding-left: 15px">Search Yale Bright Star Catalog</h3>
    <div [formGroup]="queryForm">
        <div class="controls">
            <select id = "queryField" formControlName="queryField">
                <option value="ID">Name</option>
            </select>
            <div class="divider"></div>
            <select id="queryOp" formControlName="queryOp">
                <option value="$eq">=</option>
                <option value="$lt">&lt;</option>
                <option value="$lte">&lt; =</option>
                <option value="$gt">&gt;</option>
                <option value="$gte">&gt; =</option>
            </select>
            <div class="divider"></div>
            <input type="text" formControlName="queryParam" id="queryParam" />
            <div class="divider"></div>

            <div class="divider"></div>
            <button (click)="searchCatalog()">Search</button>
            <div class="divider"></div>
            <button (click)="resetInput()">Reset</button>
        </div>
    </div>
    <div class="grid">
        <table *ngIf="displayedItems.length > 0">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Visual Magnitude</td>
                    <td>Spectral Type</td>
                    <td>BV</td>
                    <td>Cross Reference</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of displayedItems">
                    <td>{{item.ID}}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.VisualMagnitude }}</td>
                    <td>{{ item.SpectralType }}</td>
                    <td>{{ item.BV }}</td>
                    <td class="xref">
                        <ul>
                            <li *ngFor="let x of item.xref | keyvalue">
                                <div *ngIf="x.key !== '_id'">
                                        {{ x.key }} : {{ x.value }}
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="controls" [formGroup]="queryForm" style="padding-bottom: 15px">
        Total Items to Display:
        <select id="limit" formControlName="limit">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
        </select>
    </div>
</div>
